common --enable_platform_specific_config

# Make sure PCM warnings are treated as errors
build --@rules_swift//swift:copt=-Xcc --@rules_swift//swift:copt=-Werror
build --features=treat_warnings_as_errors

# Build perf for SwiftSyntax, shouldn't affect other things
build --@rules_swift//swift:copt=-wmo --@rules_swift//swift:exec_copt=-wmo

# Make sure we can find swiftc
build:linux --repo_env=PATH --action_env=PATH --host_action_env=PATH
build:linux --repo_env=CC=clang
build:linux --//:apple_build_tests=false

build --test_output=errors
build --verbose_failures

build --macos_minimum_os=13.0 --host_macos_minimum_os=13.0

build:explicit-modules --features=swift.use_c_modules --features=swift.emit_c_module --features=swift.use_explicit_swift_module_map
build:explicit-modules --host_features=swift.use_c_modules --host_features=swift.emit_c_module --host_features=swift.use_explicit_swift_module_map

try-import %workspace%/user.bazelrc
